h1{
    text-align: center;
    color:red;
}
img{
    display:block;
    margin: 0 auto;
  
}
form{
    margin-top:20px;
    text-align:center;
   
}
form input {
    padding:10px 20px;
}

.btn{
    display:block;
    margin: 5px auto;
    width:200px;

}